{% extends "layout.html" %}
{% block content %}




<section class="Comunicados">

    <div class="Comunicados-card" style="margin-bottom: 30px;">
        <div class="Comunicados-info">
            <span>Contacto</span>
            <cite>@Admin - Support</cite>
        </div>
        <p>Si quieres contactarnos puedes hacerlos por nuestro <a target="_blank" href="mailto:nioycontactoservice@gmail.com">Correo</a> nioycontactoservice@gmail.com</p>
    </div>

    <div class="Comunicados-container">
        {% for comunicado in comunicados %}
            <div class="Comunicados-card">
                <div class="Comunicados-info">
                    <span>{{ comunicado.titulo }}</span>
                    <cite>{{ comunicado.autor }}</cite>
                </div>
                <p>{{ comunicado.texto }}</p>
                <relative-time datetime="{{ comunicado.fecha }}" lang="es">
                    {{ comunicado.fecha }}
                  </relative-time>
                  
            </div>
        {% endfor %}
    </div>
    
</section>

{% endblock %}