<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/componentes.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Logo/Logo.jpeg') }}" type="image/x-icon">
    <meta name="description" content="Aquí puedes subir todo lo que desees y expresar tus ideas libremente. No existe ningún tipo de filtro en los comentarios, lo que permite una interacción más auténtica y abierta entre los usuarios.">
    <title>NetDrop - Nombre provisional</title>
</head>
<body>
    <div class="header">
        <nav class="menu">
            <li><a href="/">INICIO</a></li>
            <li><a href="/update">SUBIR</a></li>
        </nav>
        <div class="hr_barra"></div>
    </div>


    <main>
        {% block content %}
        {% endblock %}
    </main>

    <div class="hr_barra"></div>
    <footer>
        Sin Pie de pagina.
    </footer>


</body>
</html>